.border-color {
    border-bottom: 2px solid #FFC606;
}

.bg {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.anim-hover {
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}
  
.anim-hover:hover {
    transform: scale(1.1);
    /* transform: translateY(-15px); */
    box-shadow: 0 0 40px 0 rgba(196, 206, 213, 0.7);
}